// BACKGROUND COLOR

.bg-color-black{
    background-color: black;
}
.bg-color-gradient{
    background: rgb(62,19,150);
    background: linear-gradient(0deg, rgba(62,19,150,1) 0%, rgba(114,20,190,1) 19%, rgba(185,43,174,1) 100%, rgba(207,58,163,1) 100%);
}
.bg-color-pink1{
    background-color:#e784ac;
}
.bg-color-pink2{
    background-color:#e46fa7;
}
.bg-color-pink6{
    background-color:#e060a8;
}
.bg-color-pink3{
    background-color:#c042b8;
}
.bg-color-pink4{
    background-color:#863ec7;
}
.bg-color-pink5{
    background-color:#6912A2;
}

.bg-color-beige{
    background-color:#e4d9d2;
}
.bg-color-grey{
    background-color:#3c3c3c;
}



// COLOR
.color-grey{
color: #3c3c3c;
}

.color-black{
    color: black;
}

.color-white{
    color: white;
}
.color-beige{
    color:#e4d9d2;
}

// FONT FAMILY
@font-face {
    font-family: 'Inter-Thin';
    src: url(font/Inter-Thin.ttf);
}
.inter-thin{
    font-family: 'Inter-Thin';
}

.inter-regular{
    font-family: 'Inter-Regular';
}

.inter-bold{
    font-family: 'Inter-Bold';
}

//TEXTE-ALIGN

.txt-center{
    text-align: center;
}
.txt-justify{
    text-align: justify;
}
 // PADDING

 .padd-20{
    padding: 20px;
}
.padd-10{
    padding: 10px 0 10px 0;
}
.flex-center{
    display: flex;
    justify-content: center;
}

//FONT-SIZE

.ft-size-20{
    font-size: 20px;
}
.ft-size-18{
    font-size: 18px;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(font/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter-Bold';
    src: url(font/Inter-Bold.ttf);
}

// Navigation

#navigation{
    display: flex;
    justify-content: space-between;

    .empty{
        width: 40%;
        .logo{
            width: 50px;
        }
    }
    a{
        text-decoration: none;
        &:hover{
            transform: scale(1.1);
            font-weight: bold;
        }
    }
}

//BANNER
#banner{
    width: 80%;
}

//PROJET
#bloc-projet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .art-projet{
        width: 30%;
        border-radius: 20px;
        margin: 20px;

        h4{
            color: #d3a9de;
        }
        img{
            width: 100%;
            height: 50%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
        .btn-discover{
            text-decoration: none;
            color: white;
            background-color: #B42DB7;
            padding: 5px 10px 5px 10px;
            border-radius: 20px;
            &:hover{
                font-weight: bold;
            }
        }
        .center-btn{
            display: flex;
            justify-content: center;
        }
    }
}

#contact{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    #formulaire{
        background-color: #B42DB7;
        width: 50%;
        border-radius: 20px;
        padding: 20px;

        .form-input{
            display: flex;
            flex-direction: column;

            input, textarea{
                width: 95%;
                margin: 5px 20px 5px 20px;
            }
        }
    }
}


.html{
    width: 95%;
    height: 20px;
}
.css{
    width: 90%;
    height: 20px;
}
.javascript{
    width: 80%;
    height: 20px;
}
.vuejs{
    width: 75%;
    height: 20px;
}
.angular{
    width: 70%;
    height: 20px;
}
.wordpress{
    width: 87%;
    height: 20px;
}

#parcours{
    margin: 10px;
    padding: 15px;
    .all{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .ines-dev{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .auto-portrait{
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
    .passion{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
    }

    section{
        display: flex;
        flex-direction: row;
        article{
            width: 50%;
        }
    }

    .CV-style{
        text-decoration: none;
        background-color: #e4d9d2;
        border: #e4d9d2 solid 2px;
        border-radius: 20px;
        padding: 10px;
    }

    .parcours-perso{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}