.bg-color-black {
  background-color: black;
}

.bg-color-gradient {
  background: rgb(62, 19, 150);
  background: linear-gradient(0deg, rgb(62, 19, 150) 0%, rgb(114, 20, 190) 19%, rgb(185, 43, 174) 100%, rgb(207, 58, 163) 100%);
}

.bg-color-pink1 {
  background-color: #e784ac;
}

.bg-color-pink2 {
  background-color: #e46fa7;
}

.bg-color-pink6 {
  background-color: #e060a8;
}

.bg-color-pink3 {
  background-color: #c042b8;
}

.bg-color-pink4 {
  background-color: #863ec7;
}

.bg-color-pink5 {
  background-color: #6912A2;
}

.bg-color-beige {
  background-color: #e4d9d2;
}

.bg-color-grey {
  background-color: #3c3c3c;
}

.color-grey {
  color: #3c3c3c;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-beige {
  color: #e4d9d2;
}

@font-face {
  font-family: "Inter-Thin";
  src: url(font/Inter-Thin.ttf);
}
.inter-thin {
  font-family: "Inter-Thin";
}

.inter-regular {
  font-family: "Inter-Regular";
}

.inter-bold {
  font-family: "Inter-Bold";
}

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.padd-20 {
  padding: 20px;
}

.padd-10 {
  padding: 10px 0 10px 0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.ft-size-20 {
  font-size: 20px;
}

.ft-size-18 {
  font-size: 18px;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(font/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-Bold";
  src: url(font/Inter-Bold.ttf);
}
#navigation {
  display: flex;
  justify-content: space-between;
}
#navigation .empty {
  width: 40%;
}
#navigation .empty .logo {
  width: 50px;
}
#navigation a {
  text-decoration: none;
}
#navigation a:hover {
  transform: scale(1.1);
  font-weight: bold;
}

#banner {
  width: 80%;
}

#bloc-projet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#bloc-projet .art-projet {
  width: 30%;
  border-radius: 20px;
  margin: 20px;
}
#bloc-projet .art-projet h4 {
  color: #d3a9de;
}
#bloc-projet .art-projet img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
#bloc-projet .art-projet .btn-discover {
  text-decoration: none;
  color: white;
  background-color: #B42DB7;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}
#bloc-projet .art-projet .btn-discover:hover {
  font-weight: bold;
}
#bloc-projet .art-projet .center-btn {
  display: flex;
  justify-content: center;
}

#contact {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#contact #formulaire {
  background-color: #B42DB7;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
}
#contact #formulaire .form-input {
  display: flex;
  flex-direction: column;
}
#contact #formulaire .form-input input, #contact #formulaire .form-input textarea {
  width: 95%;
  margin: 5px 20px 5px 20px;
}

.html {
  width: 95%;
  height: 20px;
}

.css {
  width: 90%;
  height: 20px;
}

.javascript {
  width: 80%;
  height: 20px;
}

.vuejs {
  width: 75%;
  height: 20px;
}

.angular {
  width: 70%;
  height: 20px;
}

.wordpress {
  width: 87%;
  height: 20px;
}

#parcours {
  margin: 10px;
  padding: 15px;
}
#parcours .all {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#parcours .ines-dev {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
#parcours .auto-portrait {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
#parcours .passion {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}
#parcours section {
  display: flex;
  flex-direction: row;
}
#parcours section article {
  width: 50%;
}
#parcours .CV-style {
  text-decoration: none;
  background-color: #e4d9d2;
  border: #e4d9d2 solid 2px;
  border-radius: 20px;
  padding: 10px;
}
#parcours .parcours-perso {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
